@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 47%, 50%);
  --bright-yellow: hsl(71, 73%, 54%);
  --bright-yellow-hover: hsl(71, 80%, 54%);

  /* Neutral */
  --light-grey: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--light-grey);
  font-family: "Karla", serif;
  font-size: 16px;

  display: grid;
  place-items: center;
}

.container {
  max-width: 600px;

  display: grid;
  grid-template-rows: 1fr 1.4fr;

  box-shadow: 0 8px 16px #0003;
  border-radius: 10px;
}

.top-section,
.left-side,
.right-side {
  padding: 30px;
}

.top-section {
  background-color: white;
  grid-template-columns: 1fr;

  border-radius: 10px 10px 0 0;
}
.top-section-title {
  color: var(--cyan);
  font-weight: 700;

  margin-bottom: 15px;
}
.top-section-second-title {
  color: var(--bright-yellow);
  font-weight: 700;

  margin-bottom: 10px;
}
.top-section-info {
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 25px;
}

/* Bottom section */
.bottom-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  color: white;
}

.left-side {
  background-color: var(--cyan);
  border-bottom-left-radius: 10px;
}
.left-side-title {
  margin-bottom: 20px;
  font-weight: 700;
}
.left-side-price {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}
.left-side-price span {
  margin-left: 8px;
  font-weight: 400;
  font-size: 16px;

  color: #fff6;
}
.left-side-price-info {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  color: #fff9;
}
.sign-up-btn {
  display: block;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  outline: none;
  border: none;
  background: var(--bright-yellow);
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  color: white;
  box-shadow: 0 4px 8px #0003;

  font-size: 16px;
  font-weight: 700;

  padding: 14px 0;

  transition: background-color 0.1s linear;
}
.sign-up-btn:hover {
  background: var(--bright-yellow-hover);
}

/* Right side */
.right-side {
  background-color: var(--light-cyan);
  border-bottom-right-radius: 10px;
}
.right-side-title {
  margin-bottom: 20px;
}
.right-side-info {
  font-size: 14px;
  font-weight: 400;
  color: #fff8;
  line-height: 20px;

  width: 75%;
}

/* 
...........................................................................
............................... Media query ...............................
...........................................................................
*/

@media screen and (max-width: 370px) {
  .container {
    margin: auto 40px;
    grid-template-rows: 1fr;
  }

  .bottom-section {
    grid-template-columns: 1fr;
  }
  .left-side {
    border-bottom-left-radius: 0;
  }
  .right-side {
    border-bottom-left-radius: 10px;
  }
  .right-side-info {
    width: 80%;
  }
}
